body{
  background: rgb(255,122,207);
  background: linear-gradient(90deg, rgb(255, 122, 206) 0%, rgba(255,228,245,1) 49%, rgba(255,122,207,1) 100%);
}

/* section 1 */
.s1-title, .ily{
  font-family: "Pacifico", cursive;
  text-align: center;
}
.s1-title{
  font-weight: 500;
  color: white; 
  margin: 4px 0;
}
.ily{
  color: pink;
}

.s1-caption{
  font-family: "Edu VIC WA NT Beginner", cursive;
  font-size: 14px;
  color: white; 
  text-align: center;
}
.s1-from{
  font-family: "Grey Qo", cursive;
  padding-right: 30px;
  color: cyan;
  font-size: 30px;
  margin-bottom: 20px;
  text-decoration: underline;
  text-underline-offset: 13px;
}

/* section 2 */
.s2-top, .s2-mid, .s2-bottom{
  margin-top: 20px;
}
.s2-title-top{
  font-family: "Pacifico", cursive;
}
.s2-desk{
  font-family: "Edu VIC WA NT Beginner", cursive;
  font-size: 17px;
}

/* section 3 */
.s3-title{
  font-family: "Pacifico", cursive;
  text-align: center;
}
.s3-desk{
  font-family: "Edu VIC WA NT Beginner", cursive;
  text-align: center;
}
.s3-scnd-title{
  top: 40px; 
  z-index: 2; 
  font-family: "Pacifico", cursive;
  text-align: center;
  width: 100%;
}